#descripcion {
    margin-bottom: 15%;
    text-align: center;
   
}

#carrusel {
    margin-bottom: 5%;
    width: 100%;
    max-width: 650px;
}

h6, h4, h2 {
    max-width: 400px;
    
    
}

